body {
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.site-title {
    font-size: 2em;
    margin: 0;
}

.site-description {
    font-size: 1.2em;
    margin: 10px 0;
}

.event-date {
    font-size: 1.1em;
    margin: 5px 0;
}

.watch-live-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.carts {
    margin-top: 20px;
    text-align: center;
}

.cart-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.cart {
    border: 3px solid #0d0404;
    border-radius: 5px;
    padding: 10px;
    width: 200px;

    margin: 10px;
}

.cart-title {
    margin-top: 0;
}

.matches {
    margin-top: 10px;
}

.match-info {
    margin-bottom: 5px;
}

.teams {
    margin: 0;
}

.cart-time,
.cart-date {
    margin: 0;
    font-size: 0.9em;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}



.cart-group {


    display: grid;
    grid-template-columns: repeat(3, 1fr);



    margin-bottom: 18px;

}

.footer-content {

    display: flex;
    text-align: center;
    gap: 28px;
    justify-content: center;




}
